body {
    background-size: 30px 30px;
    background-image: linear-gradient(to right,rgba(193, 193, 193, 0.063) 2px,transparent 1px)
    ,linear-gradient(to bottom,rgba(193, 193, 193, 0.063) 3px,transparent 1px);
    color:rgba(193, 193, 193, 0.063);;
}

.div-log-cadas-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}



.div-card-log-e-cadas {
    margin-top: 10rem;
    background-color: #101113;
    /* border: 1px solid #B30E79; */
    width: 320px;
    border-radius: 2px;
    padding: 20px 35px;
    position: relative;
    box-shadow: 0 0 10px #B30E79;
    /* overflow: hidden; */
}

.div-card-log-e-cadas::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 100%;
    background: linear-gradient(transparent, #B30E79, transparent);
    animation: animaBackground 4s linear infinite;
    z-index: -1;
}

@keyframes animaBackground {

    0%{
        transform: translateY(-70%);
    }

    50%{
        transform: translateY(10%);
    }

    100%{
        transform: translateY(-70%);
    }
}


.div-txt-log-cadas {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px;
}

p {
    color: white;
    margin: 0;
}

input {
    background-color: #333;
    border: none;
    padding: 15px 10px;
    border-radius: 1px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
}


a {
    margin-top: 7px;
    color: white;
    font-size: 12px;

}


.div-bt-centralizar a {
    font-size: 15px;
}

/* É a tag <a> do "cadastro" e "Login" */
.div-card-log-e-cadas .link-cad-e-log {
    justify-content: right;
}

.div-bt-centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-bt-espumado {
    margin-top: 5px;
    padding: 8px 10px;
    color: white;
    font-size: 25px;
    width: 80%;
    /* height: 2px; */
    background-position: left;
    background-size: 200% 100%;
    text-align: center;
    /* box-shadow: 0 0 10px #B30E79; */
    border-bottom: 2px solid #B30E79;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.div-bt-espumado:hover {
    background-position: right;
    transform: translateY(-2px);
    text-align: center;
    height: 30px;
    transition: 0.4s;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 0;
    background: linear-gradient(to right, #B30E79 0%, #B94FFA 50%, #B30E79 100%);
    box-shadow: 0 0 10px #B30E79;
    color:black
}

/* .div-bt-espumado::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 38px;
    background: linear-gradient(#B30E79, #B94FFA, transparent);
    z-index: 1;
    animation: buttonAnimacao 2s linear infinite;
    border-radius: 8px;
    opacity: 1;
}

.div-bt-espumado:hover ::before {
    opacity: 1;
}


@keyframes buttonAnimacao {

    0%{
        transform: translateX(-100%);
    }

    25%{
        transform: translateY(-130%);
    }

    50%{
        transform: translateX(200%);
    }
    
    100%{
        transform: translateX(-130%);
    }
} */