/* Cores boas
 Cinza: #313636;
  */

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

.div-container-show {
    display: block;
    /* background-color: #313636; */
    /* width: 100vw; */
    width: 100%;
    height: 400vh;
    margin: 0;
}

.bloco-com-video {
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 98.9vw;
    height: 100vh;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 0.5; /* opcional */
}


.div-display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-container-show .dflex-parte1 {
    height: 80vh;
    width: 95vw;
}


.div-linha-vertical {
    height: 15rem;
    width: 10px;
    border-radius: 3px;
    background-position: left;
    /* transition: background-position 0.5s ease-in-out; */
    pointer-events: none; /* para o hover funcionar no pai */
}

.div-linha-horizontal {
    height: 0.5rem; 
    width: 18rem;
    background-size: 200% 100%;
    background-position: left;
    /* transition: background-position 0.5s ease-in-out; */
    pointer-events: none; /* para o hover funcionar no pai */
}

.div-separacao-show {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

/* Div para todas as vezes que tiver que usar um display: block e somente isso */
.div-display-block {
    display: block;
    width: 300px;
}

/* Linha vertical que está na parte 1 das brands (que está ao lado esquerdo do nome da brand) 
Mas agora vou colocar de todas as brands*/

.div-separacao-show .linha-vert-smackDown {
    background: #56CCFF;
    box-shadow: 0 0 10px #56CCFF;
}

.div-separacao-show .linha-vert-raw {
    background: #F06A6A;
    box-shadow: 0 0 10px #F06A6A;
}

.div-separacao-show .linha-vert-nxt {
    background: #FF8349;
    box-shadow: 0 0 10px #FF8349;
}

/* Linha horizontal que está na parte 1 das brands (que está abaixo da img da brand) 
Mas agora vou colocar de todas as brands*/

.div-container-show .linha-horiz-smackDown {
    background: #56CCFF;
    box-shadow: 0 0 10px #56CCFF;
}

.div-container-show .linha-horiz-raw {
    background: #F06A6A;
    box-shadow: 0 0 10px #F06A6A;
}

.div-container-show .linha-horiz-nxt {
    background: #FF8349;
    box-shadow: 0 0 10px #FF8349;
}

.div-container-show .h1-titulo {
    font-size: 52px;
    margin-top: 10px;
    margin-bottom: 8px;
}

/* Div da imagem das brands na tela principal */
 .div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.logo-e-texto-raw {
    display: grid;
}
.logo-e-texto-nxt {
    display: grid;
}

.div-img .img-show {
    height: 112px;
    width: 275px;
    filter: drop-shadow(0 0 10px transparent);
}

/* É a class da imagem da brand (da parte 1 das telas de brands)
o ".img-show" é no geral, mas abaixo é a cor por cada brand */

.div-img .img-smackDown {
    filter: drop-shadow(0 0 10px #1D48F7);
}

.div-img .img-raw {
    filter: drop-shadow(0 0 10px #FF2A2A);
}

.div-img .img-nxt {
    filter: drop-shadow(0 0 10px #FF5900);
}

.div-separacao-show .animacao-cima-baixo {
    animation: img-cima-baixo 3s ease-in-out infinite;

}

@keyframes img-cima-baixo {

    0%{
        transform: translateY(-10%);
    }

    50%{
        transform: translateY(10%);
    }

    100%{
        transform: translateY(-10%);
    }
}

/* Fim da primeira parte */

/* Triângulos */


.triangulos {
    height: 9em;
}
.triangulo {
    width: 0;
    height: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulos .esquerda {
    z-index: 1;
    left: 0;
    border-bottom: 120px solid transparent;
    border-right: 98vw solid transparent;
    filter: drop-shadow(0 0 10px transparent);
}

.triangulos .direita {
    z-index: 0;
    right: 0;
    border-bottom: 120px solid transparent;
    border-left: 110vw solid transparent;
    filter: drop-shadow(0 0 10px transparent);
}

/* Triângulos do SMACKDOWN */
.triangulos .smackDown-esquerda {
    border-bottom: 120px solid #1D48F7;
    filter: drop-shadow(0 0 10px rgba(29, 73, 247, 0.4));

}

.triangulos .smackDown-direita {
    border-bottom: 120px solid #56CCFF;
    filter: drop-shadow(0 0 10px rgba(29, 73, 247, 0.4));

}

/* Triângulos do RAW */
.triangulos .raw-esquerda {
    border-bottom: 120px solid #FF2A2A;
    filter: drop-shadow(0 0 10px rgba(240, 106, 106, 0.4));
}

.triangulos .raw-direita {
    border-bottom: 120px solid #F06A6A;
    filter: drop-shadow(0 0 10px rgba(240, 106, 106, 0.4));
}

/* Triângulos do NXT */

.triangulos .nxt-esquerda {
    border-bottom: 120px solid #FF5900;
    filter: drop-shadow(0 0 10px rgba(255, 89, 0, 0.4));
}

.triangulos .nxt-direita {
    border-bottom: 120px solid #FF8349;
    filter: drop-shadow(0 0 10px rgba(255, 89, 0, 0.4));
}


/* Logomarcas (Parte 2)*/

.div-container-show .div-historia {
    display: block;
    /* width: 96vw; */
    width: 100%;
    /* height: 60vh; */
    padding-top: 20px;
    /* background: linear-gradient(to right, #0C192B 0%, #1D3557 100%); */
    background: #101113;
    /* padding: 0 30px; */

}


.div-titulo {
    width: 90vw;
    margin-left: 20px;
    display: block;
}

.logomarcas {
    margin-top: 5rem;
    padding: 0 60px;
    display: block;
}

.div-separacao-por-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logomarcas img {
    width: 170px;
    /* width: 170px; */
    height: 100px;
}

 .img-logo-ajuste-1 {
    width: 150px !important;
    height: 90px !important;

}
.logo-e-texto .div-texto {
    text-align: center;
    margin: 0;
}

.div-texto p {
    margin: 0;
    /* border-radius: 15px 15px 0 0; */
    width: auto;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    /* background-color: #2c2c2c; */
}

.cinturoes p {
    /* background-color: #2c2c2c; */
    color: white;

}


.logomarcas .logo-e-texto{
    width: 230px;
    height: 150px;
    position: relative;
    overflow: hidden;
    background-color: #1c1c1c;
    border-radius: 4px;
    /* box-shadow: 0 0 10px; */
    /* color: white; */
    transition: color 0.3s;
    z-index: 2;
    margin-bottom: 20px;
}

.logomarcas .logo-e-texto-smackDown{
    border: 1px solid #56CCFF;
}

.logomarcas .logo-e-texto-raw{
    border: 1px solid #FF2A2A;
}

.logomarcas .logo-e-texto-nxt{
    border: 1px solid #FF5900;
}

.logo-e-texto::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #1D48F7 0%, #56CCFF 50%, #1D48F7 100%); */
    transition: bottom 0.4s ease;
    z-index: -1;
}

.logomarcas .logo-e-texto-smackDown::before {
    background: linear-gradient(to right, rgb(0, 91, 172) 0%, #56CCFF 50%, #005BAC 100%);
}

.logomarcas .logo-e-texto-raw::before {
    background: linear-gradient(to right, rgb(255, 42, 42) 0%, #F06A6A 50%, #FF2A2A 100%);
}

.logomarcas .logo-e-texto-nxt::before {
    background: linear-gradient(to right, rgb(255, 89, 0) 0%, #FF8349 50%, #FF5900 100%);
}

.logo-e-texto:hover::before {
  bottom: 0;
}

.logomarcas .div-linha-horizontal {
    width: 150px;
    height: 6px;
}

/* CHAMPIONS (PARTE 3) */
.cinturoes {
    padding: 10px;
    background-size: 400% 400%;
    animation: bordaBrilhante 6s linear infinite;
    width: 97.2vw;
    /* height: 600px; */
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cintu-smack {
    background: linear-gradient(90deg, #001f3f, #0040ff, #0080ff, #00bfff, #00e5ff, #66ccff, #0040ff);
}

.cintu-raw {
    background: linear-gradient(90deg, #4d0000, #800000, #b30000, #e60000, #ff3333, #ff6666, #800000);
}

.cintu-nxt {
    background: linear-gradient(90deg, #ff6600,  #ff8000,  #ff9933,  #ffb84d,  #ffd699,  #ff9933,  #ff6600);
}

.cinturoes::before {
    content: '';
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    z-index: -1;
    background: inherit;
    border-radius: inherit;
    background-size: 400% 400%;
    animation: bordaBrilhante 6s linear infinite;
    filter: blur(4px);
}

@keyframes bordaBrilhante {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.div-por-cima {
    width: 97%;
    height: 97%;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 10px 0;
    text-align: center;
}

.div-titulo-cinturoes {
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

.div-titulo-cinturoes .div-linha-champion {
    /* background: #ffc400; */
    background: linear-gradient(45deg, #FFD700, #f1ffa0, #DAA520);
    background-size: 400% 400%;
    box-shadow: 0 0 10px #ffde4b;
    height: 0.5rem; 
    width: 18rem;
    margin: 0 auto;
    animation: bordaBrilhante 4s linear infinite;
}

/* Div para colocar os cards dos títulos da maneira certa */
.cinturoes .div-container-cinturoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.cinturoes .div-container-cinturoes .div-borda-dos-cinturoes {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 8px;
    background: linear-gradient(45deg, #f1ffa0, #FFD700, #FFD700);
    animation: bordaBrilhante 4s linear infinite;
    background-size: 400% 400%;
    box-shadow: 0 0 10px #FFD700;
    cursor: pointer;
}

.div-dentro-cinturoes {

}

.div-img-cinturoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 15px ;
}

.div-texto p {
    font-size: 20px;
    padding: 0 15px;
}

.div-borda-dos-cinturoes .div-por-cima {
    width: 97%;
    height: 97%;
    background-color: #1c1c1c;
    border-radius: 8px;
    text-align: center;
    padding: 0 ;
}

