body{
    background-color: #0E0D0D;
}

span {
    margin: 0;
    font-size: 3rem;
    color: white;
}

.gradient-border-bottom {
    position: relative;
    width: 250px;
    padding: 1px;
}
  
.gradient-border-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #6E035C 0%, #B94FFA 50%, #6E035C 100%);
    background-size: 200% 100%;
    box-shadow: 0 0 10px #6E035C;
    background-position: left;
    transition: background-position 0.5s ease-in-out;
}
  
  .gradient-border-bottom:hover::after {
    background-position: right;
  }
  